certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
gTTS==2.5.4
idna==3.10
PyAudio==0.2.14
pycparser==2.22
pygame==2.6.1
pyttsx3==2.99
requests==2.32.4
sounddevice==0.5.2
SpeechRecognition==3.14.3
typing_extensions==4.14.1
urllib3==2.5.0
